<main
  id="flipbook-app"
  class="min-h-screen bg-slate-50 text-zinc-900 print:min-h-0 print:bg-white"
>
  <div class="mx-auto flex min-h-screen w-full max-w-[1800px] flex-col lg:flex-row">
    <aside
      id="editor-panel"
      class="border-b border-zinc-200 bg-white lg:w-1/2 lg:border-r lg:border-b-0 print:hidden"
    >
      <FlipbookEditor
        @inputText={{this.inputText}}
        @isGenerating={{this.isLoading}}
        @onInputTextChange={{this.onInputTextChange}}
        @onGenerate={{this.onGenerate}}
      />
    </aside>

    <section
      id="preview-panel"
      class="min-h-screen bg-zinc-50 lg:w-1/2 print:min-h-0 print:w-full print:bg-white"
    >
      <FlipbookPreview @entries={{this.entries}} @isLoading={{this.isLoading}} />
    </section>
  </div>
</main>
